<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{movie.name}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="wrapper">
      <div class="description">
        <p>{{movie.description}}</p>
        <p><span>Genres: </span> {{genres | titlecase}}</p>
        <p><span>Duration: </span> {{ movie.length }}</p>
        <p><span>Rate: </span> {{ movie.rate }}</p>
      </div>
      <div class="poster">
        <img src="assets/img/movie-covers/{{movie.key}}.jpg" alt="{{movie.name}} movie poster" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
