:host {
  height: fit-content;
  width: 80%;
}

.wrapper {
  display: flex;
  flex-direction: row;

  .description,
  .poster {
    margin: 20px;
  }

  .description {
    flex: 2;
  }

  .poster {
    flex: 1;
    img {
      width: 80%;
    }
  }

  p {
    font-size: 18px;
  }

  span {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;

    .poster {
      img {
        width: 100%;
      }
    }
  }
}
