:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

:host ::ng-deep {
  .mat-form-field {
    width: 75%;
  }
  .mat-form-field-outline {
    background-color: #fff;
  }
}

