mat-card {
	width: 176px;
	margin: 20px;
	cursor: pointer;
}

.expandable {
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.title {
  color: #494C62;
  margin: 0;
}

.genres {
  color: #BABBC3;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}
